@import 'tailwindcss';

:root {
	--background: #ffffff;
	--accent: #187abe;
	--primary-colour: #c1ff72;
	--secondary-colour: #efffda;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

/* width */
::-webkit-scrollbar {
	@apply w-1.5 h-1.5;
}

/* Track */
::-webkit-scrollbar-track {
	@apply rounded-sm bg-(--secondary-colour);
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-(--accent) rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply cursor-grab;
}
::-webkit-scrollbar-thumb:active {
	@apply cursor-grabbing;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
}
