@import 'tailwindcss';

:root {
	--accent: #187abe;
	--primary-colour: #c1ff72;
	--secondary-colour: #efffda;
	--background: #ffffff;
	--text-colour: #0f172a;
}

:root[data-theme='dark'] {
	--accent: #60a5fa;
	--primary-colour: #1e293b;
	--secondary-colour: #0f172a;
	--background: #020617;
	--text-colour: #ffffff;
}

body {
	background-color: var(--background);
	color: var(--text-colour);
	transition: background-color 0.3s ease-in-out;
}

/* Scrollbar Settings */

@utility show-scrollbar {
	::-webkit-scrollbar {
		@apply w-1.5 h-1.5;
	}
}

/* width */
::-webkit-scrollbar {
	@apply w-0 h-0;
}

/* Track */
::-webkit-scrollbar-track {
	@apply rounded-sm bg-(--secondary-colour);
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-(--accent) rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply cursor-grab;
}
::-webkit-scrollbar-thumb:active {
	@apply cursor-grabbing;
}
